<!DOCTYPE html>
<html lang="en" ng-app = "app">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Normalize -->
  <link rel="stylesheet" href="/assets/libs/bower/normalize-css/normalize.css">
  <!-- Font Awesome.min -->
  <link rel="stylesheet" href="/assets/fonts/font-awesome-4.6.3/css/font-awesome.min.css">
  <!-- Custom -->
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body ng-cloak>
  <div class="container row">
    <div class="large-12 columns">

      <menu></menu>
      <flash-message></flash-message>

      <div class="row">
        <div class="large-12 columns">
          <div ng-view></div>
        </div>
      </div>

    </div>
  </div>

  <!-- jQuery only included for Foundation. Remove if unnecessary. -->
  <script src = "../assets/libs/bower/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bower/foundation-sites/dist/foundation.min.js"></script>


  <!-- Angular modules -->

  <script src="../assets/libs/bower/angular/angular.js"></script>
  <script src="../assets/libs/bower/angular-route/angular-route.js"></script>
  <script src = "../assets/libs/bower/angular-animate/angular-animate.js"></script>
  <script src="../dashboard.module.js"></script>


  <script src="/shared/menu/menu.js"></script>
  <script src = "/shared/flash/flash.js"></script>
  <script src="/questions/questions.js"></script>
  <script src="/questions/questions.service.js"></script>
  <script src="/questions/questions.onlymath.directive.js"></script>
  <script src= "/questions/question.form.directive.js"></script>
  <script src="/auth/auth.js"></script>
  <script src="/auth/auth.service.js"></script>
</body>
</html>
