<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Math.ly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Custom -->
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
<div class="hero">
  <h1>Math.ly <sup class = "alpha">alpha</sup></h1>
  <h2 class = "subheader">For teachers, by teachers.</h2>

  <a href="/dashboard"><button class="large button" id = "cta">Start</button>
  </a>
</div>
</body>
</html>
