@import url(https://fonts.googleapis.com/css?family=Lora|Open+Sans);

@import './settings';
@import 'foundation';
@include foundation-everything;

body{
  font-family: "Lora", serif;
  font-size: 20px;
  width: 100%;
  color: #545454;
}

menu{
  padding-left: 0px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans', sans-serif;
  color: #545454;
}

.questions-view-wrapper{
  padding: 2em;
  font-size: 2rem;
  @include breakpoint(small only) {
    padding: 0px;
  }
}

.question-input-wrapper{
  width: 100%;
  & input{
    font-size: 2rem;
    box-shadow: none;
    display: inline-block;
    color: #545454;
    background-color: transparent;
  }
}

.new-question input{
  width: 40%;
  border: 0px;
  border-bottom: 1px solid #545454;
  &:focus{
    border: 0px;
    border-bottom: 1px solid #545454;
  }
}

.controls{
  display: none;
  position: absolute;
  right: 0px;
  a{
    margin: 5px;
  }
}
.delete-button{
  position:relative;
  z-index:200;
}
.inline{
  display: inline-block;
  width: 90%;
  border-bottom: 0px;
  & input{
    max-width: 50%;
    padding-left: 0px;
    margin-bottom: 6px;
    border: 0px;
    background-color: transparent;
    &:focus{
      background-color: transparent;
      border: 0px;
    }
  }
}

.saved-question-wrapper{
  padding: 20px;
  min-height: 100px;
  display: inline-block;
  position:relative;
  width: 100%;
  float: left;
  z-index: 0;
  &:hover{
    cursor: pointer;
    background-color: rgba(black,0.1);
    .controls{
      display: inline;
    }
  }
  & form{
    display: inline-block;
  }
}

.saved-question{
  display: inline-block;
  width: 80%;
}

.saved-question-number{
  display: inline-block;
}

.saved-question-question{
  min-width: 30%;
  display: inline-block;
}

.saved-question-answer{
  color: lighten(#545454, 40%);
}

.inline .saved-question-answer{
  max-width: 40%;
  display: inline;
  position: relative;
  right: 0px;
  top: 0px;
  padding: 20px;
}

.modal{
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0.8);
  position: fixed;
  z-index:99;
}

.focusmode{
  position: relative;
  z-index: 100;
  background-color: white;
  &:hover{
    background-color: white !important;
  }
}

.full-width{
  display: inline-block;
  width: 100%;
}

.flash{
  max-width: 30%;
  margin: 0 auto;
  position: fixed;
  top:10vh;
  left: 50%;
  opacity:0;
}

.flash.ng-enter{
  animation-name: flash_message;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes flash_message{
  0% {
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.flash.ng-enter-active{
  opacity:0;
}

.social-login{
  padding: 20px;
  border: 1px solid $primary-color;
  text-align: center;
}

.hero{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#cta{
  margin: 2em;
}

.hide{
  display: none;
}
// for angular ng-cloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
