@import url(https://fonts.googleapis.com/css?family=Lora|Open+Sans);

@import './settings';
@import 'foundation';
@include foundation-everything;

body{
  font-family: "Lora", serif;
  font-size: 20px;
  width: 100%;
  color: #545454;

}

menu{
  padding-left: 0px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans', sans-serif;
  color: #545454;
}

.questions-view-wrapper{
  padding: 2em;
  font-size: 2rem;
  @include breakpoint(small only) {
    padding: 0px;
  }
}

.question-input-wrapper{
  width: 100%;
}

#question{
  width: 40%;
  font-size: 2rem;
  border: 0px;
  border-bottom: 1px solid #545454;
  background-color: transparent;
  box-shadow: none;
  display: inline-block;
  color: #545454;
  &:focus{
    border-bottom: 1px solid #545454;
  }
}

.controls{
  width: 10%;
  display: none;
  position: absolute;
  right: 10%;
  a{
    margin: 5px;
  }
}

.inline{
  width: 100%;
  display: flex;
  & #question{
    padding-left: 0px;
    margin-bottom: 6px;
    width: 30%;
    background-color: transparent;
  }
}
.inline > form{
  width: 100%;
  display: inline-block;
}

.saved-question-wrapper{
  padding: 20px;
  min-height: 100px;
  display: flex;
  align-items: center;
  &:hover{
    cursor: pointer;
    background-color: rgba(gray, 0.1);
    .controls{
      display: flex;
    }
  }
}

.saved-question-number{
  display: inline-table;
  height: 50%;
}

.saved-question-question{
  min-width: 30%;
  display: inline-block;
}

.saved-question-answer{
  color: lighten(#545454, 30%);
}

.full-width{
  display: inline-block;
  width: 100%;
}



// for angular ng-cloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
