<!DOCTYPE html>
<html lang="en" ng-app = "app" ng-controller = "mainCtrl">
<head>
  <meta charset="UTF-8">
  <title>Math.ly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome.min -->
  <link rel="stylesheet" href="/assets/fonts/font-awesome-4.6.3/css/font-awesome.min.css">
  <!-- Custom -->
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body ng-cloak >
  <div ng-class = "{'modal' : modal}"></div>
    <div class="container row">
      <div class="large-12 columns">

        <menu></menu>
        <flash-message></flash-message>

        <div class="row">
          <div class="large-12 columns">
            <div ng-view></div>
          </div>
        </div>

      </div>
    </div>

  <!-- Angular modules -->

  <script src="/assets/libs/bower/angular/angular.min.js"></script>

  <script src="/assets/libs/bower/angular-route/angular-route.min.js"></script>
  <script src = "/assets/libs/bower/angular-animate/angular-animate.min.js"></script>
  <script src="/assets/libs/bower/ng-lodash/build/ng-lodash.min.js"></script>

  <!-- Dashboard -->
  <script src="dashboard.module.js"></script>
  <script src="questions/questions.js"></script>
  <script src="questions/question.form.directive.js"></script>
  <script src="questions/questions.service.js"></script>
  <script src="questions/questions.onlymath.directive.js"></script>
  <script src="questions/questions.toolbox.directive.js"></script>

  <!-- Shared modules -->
  <script src="/shared/menu/menu.js"></script>
  <script src = "/shared/flash/flash.js"></script>

</body>
</html>
